@import './tailwind.css';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Inter', sans-serif !important;
}
html {
  scroll-behavior: smooth;
}
.options::before {
  content: '';
  width: 15px;
  height: 15px;
  background: #1f2937;
  z-index: -1;
  top: -5px;
  left: 12em;
  border-radius: 2px;
  transform: rotate(45deg);
  position: absolute;
}

.info-pic {
  position: absolute;
  opacity: 0;
}
.ampliar {
  /* background: rgba(0, 0, 0, 0.2); */
  background: url('../images/fullscreen.png') center center no-repeat;
  background-size: 13px;
  height: 20px;
  width: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  /* opacity: 0; */
}

.container-preview {
  background: rgba(0, 0, 0, 0.3);
}
.img-preview {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.img-preview img#preview {
  height: 80vh;
  width: 80vw;
}
.zoom-in {
  object-fit: cover;
}

.img-preview img:hover {
  cursor: zoom-in;
}

.resultado div div {
  animation: toUp ease-in-out .4s both;
}
.contenedor-img:hover img {
  filter: brightness(0.8);
}
.img-hero {
  filter: brightness(0.5);
}
@keyframes toUp {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0);
  }
}

.closing {
  animation: closingPreview 0.2s ease-in-out both;
}
.loading {
  filter: blur(8px) grayscale(20%);
}
.is-loaded {
  filter: none;
}

.resultado img {
  cursor: zoom-in;
}

.opening {
  animation: openPreview 0.2s ease-in-out both;
}
button:focus {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
}
@keyframes closingPreview {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.5);
    opacity: 0;
  }
}

@keyframes openPreview {
  to {
    transform: scale(1);
  }
  from {
    transform: scale(0.5);
    opacity: 0;
  }
}

/* .ampliar:focus ~ img{
  transition: transform .4s ease-in-out;
  transform: scale(2);
} */
.contenedor-img:hover .info-pic {
  animation: moveInfo 0.4s ease-in-out both;
  opacity: 1;
}

@keyframes moveInfo {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-32px);
  }
}

.contenedor-img:hover .btn-download,
.contenedor-img:hover .user-container,
.contenedor-img:hover .container-link {
  opacity: 1;
}

.btn-download {
  border-radius: 4px;
  height: 25px;
  width: 35px;
  background: url("data:image/svg+xml,%3Csvg class='w-6 h-6' fill='rgb(64, 64, 64)' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M16.707 10.293a1 1 0 010 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l4.293-4.293a1 1 0 011.414 0z' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E")
    center center no-repeat;
  background-size: 13px;
  background-color: hsla(0, 0%, 100%, 0.9);
  opacity: 0;
}
.btn-download:hover {
  cursor: pointer;
  background: url("data:image/svg+xml,%3Csvg class='w-6 h-6' fill='rgb(50, 50, 50);' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M16.707 10.293a1 1 0 010 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l4.293-4.293a1 1 0 011.414 0z' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E")
    center center no-repeat;
  background-size: 15px;

  background-color: hsla(0, 0%, 100%, 1);
}

video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
}


.indicador-zoom{
  position: absolute;
  height: 20px;
  width: 20px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-maximize-2'%3E%3Cpolyline points='15 3 21 3 21 9'/%3E%3Cpolyline points='9 21 3 21 3 15'/%3E%3Cline x1='21' y1='3' x2='14' y2='10'/%3E%3Cline x1='3' y1='21' x2='10' y2='14'/%3E%3C/svg%3E") center center no-repeat;
  background-size: 20px;
  z-index: 40;
  top: 80px;
  right: 25px;
}
img[id="preview"][class*="zoom-in"] ~ div{
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 5px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23f1f1f1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-minimize-2'%3E%3Cpolyline points='4 14 10 14 10 20'/%3E%3Cpolyline points='20 10 14 10 14 4'/%3E%3Cline x1='14' y1='10' x2='21' y2='3'/%3E%3Cline x1='3' y1='21' x2='10' y2='14'/%3E%3C/svg%3E") center center no-repeat;
  background-size: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 40;
  top: 80px;
  right: 25px;
}
.btn-scroll{
  height: 51px;
  width: 50px;
  border-radius: 100%;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' style='fill:white;transform:;-ms-filter:'%3E%3Cpath d='M3,19h18c0.372,0,0.713-0.207,0.886-0.536c0.173-0.329,0.148-0.727-0.063-1.033l-9-13c-0.373-0.539-1.271-0.539-1.645,0 l-9,13c-0.212,0.306-0.236,0.704-0.063,1.033C2.287,18.793,2.628,19,3,19z'%3E%3C/path%3E%3C/svg%3E") center center no-repeat;
  background-size: 25px;
  background-color: rgb(27, 27, 27);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 2em;
  right: 2em;
}

.btn-scroll:hover{
  
  background-color: rgb(62, 62, 62);
}
#name-user-preview{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75px;
}